body {
  color: $text-color;
  line-height: $base-font-line-height;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;

  @include xs { font-size: $base-font-xs; }
  @include sm { font-size: $base-font-sm; }
  @include lg { font-size: $base-font-lg; }
}

.italic { font-style: italic; }
.bold   { font-weight: 700 }

.h1, .h2, .h3, .h4, .h5, .h6 { font-family: $heading-font-family; font-weight: $heading-font-weight; margin-bottom: .5rem; }
.h1, .h2 { line-height: 1.1; }
.h3, .h4 { line-height: 1.3; }
.h1 { font-size: $heading-font-h1; letter-spacing: -2px; }
.h2 { font-size: $heading-font-h2; letter-spacing: -1px; }
.h3 { font-size: $heading-font-h3; }
.h4 { font-size: $heading-font-h4; }
.h5 { font-size: $heading-font-h5; }
.h6 { font-size: $heading-font-h6; }

a { color: $link-color; text-decoration: none; }

i, em { @extend .italic; }
b, strong { @extend .bold; }

h1 { @extend .h1; }
h2 { @extend .h2; }
h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }
h6 { @extend .h6; }

p, ul, ol, pre { margin-bottom: 1rem; }

ul { list-style-type: none; }
ol { list-style: decimal; }

pre, code { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }
